body {
    margin: 60px auto;
    width: 90%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

ul.posts p {
    font-size: 1em;
    line-height: 1.2em;
}

div.highlighter-rouge {
    background-color: black;
    color:white;
    padding:10px;
}

.fullcontent {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.fullcontent .sidepanel {
    grid-column: 5/6;
    grid-row: 1;
    border: 1px;
    border-style:solid;
    padding: 10px;
}

.fullcontent .container {
    grid-column: 1/5;
    grid-row: 1;
    border: 1px;
    border-style:solid;
    padding: 10px;
}