@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    width: 100%;
    /*background-color: rgba(153, 184, 152, 0.850);*/
    background-color: white;
}

.banner {
    background:
    
    linear-gradient(
      rgba(255, 255, 255, 0),
      70%,
      rgba(255, 255, 255, 1)
    ),
    url('adult-business-communication-1181253_2.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-position: -10%;
    /*border: 2px solid rgba(153, 184, 152, 1)*/
}

.banner-gradient {
    background:
    /*
    linear-gradient(
      rgba(242, 216, 194, 0),
      80%,
      rgba(242, 216, 194, 1)
    ),
    /*
    linear-gradient(
      rgba(255, 255, 255, 0.01),
      80%,
      rgba(153, 184, 152, 0.850)
    ),
    */
    url('adult-business-communication-1181253_2.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.bannertext {
    text-align: center;
    position: absolute;
    font-family: 'Permanent Marker', sans-serif;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 5vw;
}

nav ul, footer ul {
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: black;
}

a {
    color: #A0A0A0;
}

.content {
    color: #363636;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: "Raleway", sans-serif;
}

.content h1, h2, h3, h4, h5, h6 {
    color: #363636;
    font-family: 'Raleway', sans-serif;
}

.content a {
    color: black;
    font-family: "Raleway", sans-serif;
}

.content a:hover {
    color: rgb(212, 195, 181);
}

.tabs a {
    font-family: "BlinkMacSystemFont", sans-serif;
    color: black;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    width: 100%;
    background-color: #FECEA8;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

a.boxlink {
    text-decoration: none;
}

.postsgrid { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(175px, auto);
}

.box {
    padding: 80px;
    background-color: black;
    color:white;
    text-align: center;
}

.postbox {
    background:
    
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    
    url('code-coding-computer-270373.jpg');
    font-size: 3vw;
    font-family: 'Permanent Marker', sans-serif;
    background-size: cover;
    padding: 80px;
    align-content: center;
    margin: 5% 20%;
    color: white;
    border-radius: 15px 50px 30px;
    box-shadow: 3px 10px 15px rgba(128, 128, 128, 0.692);
    /*border: 2px solid rgba(107, 129, 106, 0.8);*/
}

.postbox:hover {
    background:
    url('code-coding-computer-270373.jpg'),
    linear-gradient(
      rgba(160, 160, 160, 0.7), 
      rgba(160, 160, 160, 0.7)
    );
    background-size: cover;
}

a.box {
    display:block;
}

ul.posts p {
    font-size: 1em;
    line-height: 1.2em;
}

div.highlighter-rouge {
    background-color: black;
    color:white;
    padding:10px;
    overflow-x:scroll;
}

.fullcontent {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 100%;
}

.maintabs {
    opacity: 1;
}

.fullcontent .sidepanel {
    grid-column: 5/6;
    grid-row: 1;
    padding: 10px;
    background-color: #F3F3F3;
}

.fullcontent .container {
    grid-column: 1/6;
    grid-row: 1;
    padding: 10px;
    background-color: #F3F3F3;
}

.profile-pic {
    border-radius: 50%;
    width: 18vw;
    padding: 20px;
}

i:hover {
 color: rgb(212, 195, 181);
}

