<!DOCTYPE html>
	<html>
	{% include header.html %}
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/material">Materials</a></li>
	        		<li><a href="/creators">About writers</a></li>
	    		</ul>
			</nav>
			<div class="fullcontent">
				<div class="sidepanel"> 
				{% if site.posts != empty %}
					<h2>Most recent materials</h2>
					
					<ol class="posts">

	  					{% for post in site.posts limit:5 %}
	    				<li>
	    					<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></br>
	    				</li>
	  					{% endfor %}
					</ol>
					{% endif %}
					<h2>Contact information</h2>
					{% include footer.html %}

				</div>
				<div class="container">
				
				{{ content }}
				
				</div><!-- /.container -->
			</div>
			<!--{% include footer.html %}-->
		</body>
	</html>