<!DOCTYPE html>
    <html>
        {% include header.html %}
        <body>
                <section class="hero is-light is-large banner-gradient">
                        <!-- Hero head: will stick at the top -->
                        <div class="hero-head">
                          <nav class="navbar">
                            <div class="container">
                              <div class="navbar-brand">
                                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </span>
                              </div>
                              <div id="navbarMenuHeroA" class="navbar-menu">
                                <div class="navbar-end">
                                  <span class="navbar-item">
                                    <a href="https://github.com/OSlevelUPkoodarit/OSlevelUPkoodarit.github.io">
                                      <span class="icon is-large has-text-black">
                                        <i class="fab fa-github fa-2x"></i>
                                      </span>
                                    </a>
                                  </span>
                                  <span class="navbar-item">
                                    <a href="https://www.facebook.com/groups/224556481380051/">
                                        <span class="icon is-large has-text-black">
                                        <i class="fab fa-facebook fa-2x"></i>
                                        </span>
                                    </a>
                                  </span>
                                  <span class="navbar-item">
                                    <a href="mailto:ompeluseuralevelupkoodarit@gmail.com">
                                        <span class="icon is-large has-text-black">
                                        <i class="fas fa-envelope-open-text fa-2x"></i>
                                        </span>
                                    </a>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </nav>
                        </div>
                      
                        <!-- Hero content: will be in the middle -->
                        <div class="hero-body">
                          <div class="container has-text-centered">
                            <h1 class="bannertext">
                                Ompeluseura LevelUP Koodarit
                            </h1>
                          </div>
                        </div>
                      
                        <!-- Hero footer: will stick at the bottom -->
                        <!-- On top of the image navigation tabs
                        <div class="hero-foot">
                            <nav class="tabs is-centered is-boxed is-large">
                              <div class="container">
                                <ul>
                                  <li><a href="/">Home</a></li>
                                  <li><a href="/material">Material</a></li>
                                  <li><a href="/creators">Creators</a></li>
                                </ul>
                              </div>
                            </nav>
                          </div>
                          -->
                      </section>
                      

                      <section>
                          <div class="hero-foot">
                              <nav class="tabs is-centered is-boxed is-large">
                                <div class="container">
                                  <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/material">Material</a></li>
                                    <li><a href="/creators">Creators</a></li>
                                  </ul>
                                </div>
                              </nav>
                            </div>
                      </section>

                      <!-- Content section -->
                      <section class="section">
                                <!-- Main page content -->
                              <div class="container">
                                <div class="content">
                                    {{ content }}
                                </div>
                              </div>
                      </section>

                      <section class="hero is-light">
                                <div>
                                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><i class="fab fa-creative-commons fa-lg"></i> <i class="fab fa-creative-commons-by fa-lg"></i> This work is licensed under a Creative Commons Attribution 4.0 International License </a>
                                </div>
                      </section>
        </body>
    </html>